<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="localizer" pkg="tf" type="static_transform_publisher"
          args="1 0 0 0 0 0 map odom 100"
          output="log" respawn="false"/>
    <node name="odo_pub" pkg="tf" type="static_transform_publisher"
          args="1 0 0 0 0 0 odom base_footprint 100"
          output="log" respawn="false"/>
    <node name="robot_state_publisher_1" pkg="tf2_ros" type="static_transform_publisher"
          args="0 0 0.3 0 0 0 base_footprint base_link/ooo"
          output="log" respawn="false"/>
    <node name="robot_state_publisher_2" pkg="tf2_ros" type="static_transform_publisher"
          args="0.3 0 0.1 0 0 0 base_link lidar_link"
          output="log" respawn="false"/>
    <node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree" args="" output="log" respawn="false"/>
    <!-- Following Node would cause problem to robot system,
         because of multiple parent frames -->
    <node name="bug_node" pkg="tf" type="static_transform_publisher"
          args="1 0 0 0 0 0 map base_footprint 200"
          output="log" respawn="false"
          launch-prefix="bash -c 'sleep 1; $0 $@' "/>
</launch>